<div class="row">
  <div class="col-5 mx-auto">
    <app-alert *ngIf="error" (close)="closeDialog()" [message]="error"></app-alert>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm,$event)">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" requşred email ngModel name="email" id="email" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" required [minlength]="4" ngModel name="password" id="password" class="form-control" />
      </div>
      <button type="submit" [disabled]="authForm.invalid" class="btn btn-primary me-2">
        <app-loading [loading]="loading" [text]="isHaveAccount?'Register':'Login'"></app-loading>
      </button>
      <div class="d-flex align-items-center">
        {{isHaveAccount ? "I have a account" : "Don't you have an account"}}<a (click)="toggleButtonType()"
          class="btn btn-link">{{isHaveAccount ?"Sign In":"Sign Up"}}</a>
      </div>
    </form>
  </div>
</div>