<div *ngIf="!loading">
  <div *ngIf="movie; else noMovie">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/img/{{ movie.image }}" class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{ movie.title }}</h1>
            <p class="card-text">{{ movie.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noMovie>
  <div class="alert alert-warning">Movie not found.</div>
</ng-template>
<app-loading [loading]="loading"></app-loading>